<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body class="body">
    <div>
      <h1 class="header">COViD HELPLiNE</h1>
      <h4 class="user">Hello <%= username %></h4>
      <div id="future" class="form-group container"></div>
      <form id="form" id="chat_form" class="form container">
        <input
          id="chat_name"
          type="text"
          placeholder="User Name"
          class="form-control space"
        />

        <input
          id="chat_input"
          type="text"
          placeholder="Write Your Massege"
          class="form-control space"
        />
        <input type="submit" value="Send" class="btn btn-info space" />
      </form>
      <div class="container messages">
        <ul id="old_msg" style="list-style-type: none;"></ul>
        <ul id="messages" style="list-style-type: none;"></ul>
      </div>
    </div>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      //var socket = io178C51();
      //socket.on("connect", function () {
      //console.log("connected!");
      //socket.emit("greet", { message: "Hello Mr.Server!" });
      //});

      //socket.on("respond", function (data) {
      //alert(Object.values(data));
      //console.log(data);
      //});
      var socket = io.connect();
      $(function () {
        $("form").submit(function (e) {
          e.preventDefault();
        });
        $("form").submit(function () {
          socket.emit(
            "chat message",
            $("#chat_input").val(),
            $("#chat_name").val()
          );
          $("#chat_input").val("");
          $("#chat_name").val("");
          return false;
        });
        socket.on("chat message", function (msg, name) {
          $("#messages").append($("<li>").text(name + ": " + msg));
        });

        socket.on("load old messages", function (docs) {
          $.each(docs, function () {
            $("#old_msg").append(
              "<li>" + this.name + ": " + this.text + "</li>"
            );
          });
        });
      });
    </script>
    <style>
      .header {
        background-color: #25d355;
        text-align: center;
        color: #075e54;
        font-size: 60px;
      }
      .body {
        background-color: aliceblue;
      }
      .form {
        background-color: aliceblue;
        text-align: center;
      }
      .message {
        text-align: center;
        text: 20px;
        padding: 10px;
      }
      .user {
        color: #2acdae;
        text-align: center;
        font-size: 30px;
      }
      .space {
        padding: 3px;
        margin: 3px;
      }
    </style>
  </body>
</html>
